*.pyc
*.F
*/build/
build/
.idea/
.DS_Store
*~
*.swp
a.out
PyUEDGE_tutorial/testcase/rates/aph/eh.dat
PyUEDGE_tutorial/testcase/rates/aph/ehr2.dat
PyUEDGE_tutorial/testcase/rates/aph/nwfits
PyUEDGE_tutorial/testcase/rates/aph/rates.adpak
PyUEDGE_tutorial/testcase/rates/aph/rates.strahl
PyUEDGE_tutorial/testcase/rates/api/C_rates.adas
PyUEDGE_tutorial/density_scan/rates/api/C_rates.adas
PyUEDGE_tutorial/density_scan/rates/aph/rates.strahl
PyUEDGE_tutorial/density_scan/rates/aph/rates.adpak
PyUEDGE_tutorial/density_scan/rates/aph/nwfits
PyUEDGE_tutorial/density_scan/rates/aph/ehr2.dat
PyUEDGE_tutorial/density_scan/rates/aph/ehr1.dat
PyUEDGE_tutorial/density_scan/rates/aph/eh.dat
PyUEDGE_tutorial/testcase/testcase_last_ii2.hdf5
PyUEDGE_tutorial/testcase/case/solutions/testcase_last_ii2.hdf5
PyUEDGE_tutorial/.ipynb_checkpoints/PyUEDGE-tutorial-checkpoint.ipynb
PyUEDGE_tutorial/.ipynb_checkpoints/PyUEDGE_tutorial-checkpoint.ipynb
PyUEDGE_tutorial/testcase/.ipynb_checkpoints/Untitled-checkpoint.ipynb
*.swo
